<app-menu></app-menu>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card h-100 text-left">
                <div class="card-body">
                    <h4 class="card-title" style="font-size: 16px;font-weight: bold;">Delivery Address</h4>
                    <p class="card-text">{{getCustomerNameByID(order?.userID)}}</p>
                    <p class="card-text my-0" style="color: gray;">{{order?.address?.street}}</p>
                    <p class="card-text my-0" style="color: gray;">{{order?.address?.city}}</p>
                    <p class="card-text my-0" style="color: gray;">{{order?.address?.zip}}</p>
                    <p class="card-text mt-3"><i style="color: gray;" class="fa fa-phone-alt mr-2"
                            aria-hidden="true"></i>{{order?.mobilePhone}}</p>
                    <p class="card-text"><i style="color: gray;" class="fa fa-calendar mr-2"
                            aria-hidden="true"></i>{{order?.date | date}}</p>
                    <p class="card-text"><i style="color: gray;" class="fa fa-location-arrow mr-2"
                            aria-hidden="true"></i>{{order?.id}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100 text-left mt-md-0 mt-3">
              <div class="card-body">
                <h4 class="card-title" style="font-size: 16px;font-weight: bold;">Order Summary</h4>
                <div class="d-flex mt-4">
                    <p class="card-text">Sub-total</p>
                    <p class="card-text ml-auto">{{order?.totalPrice | currency}}</p>
                </div>
                <div class="d-flex">
                    <p class="card-text">Items</p>
                    <p class="card-text ml-auto">{{totalItems()}}</p>
                </div>
                <div class="d-flex">
                    <p class="card-text">Tax</p>
                    <p class="card-text ml-auto">{{applyTax() | currency}}</p>
                </div>
                <div class="d-flex">
                    <p class="card-text">Delivery Fee</p>
                    <p class="card-text ml-auto">Free</p>
                </div>
                <hr>
                <div class="d-flex">
                    <p class="card-text" style="font-size: 22px;font-weight: bold;">Order Total</p>
                    <p class="card-text ml-auto">{{(applyTax() + order?.totalPrice) | currency}}</p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col">
            <div class="card h-100 text-left">
              <div class="card-body">
                <h4 class="card-title" style="font-size: 16px;font-weight: bold;">Items</h4>
                <div class="mt-4">
                    <div *ngFor="let item of order?.productsIDs">
                        <div class="d-flex">
                            <p class="card-text" style="font-weight: bold;">Qty: {{item?.qty}}</p>
                            <p class="card-text ml-auto align-self-center">{{getProductNameByID(item?.id)}}</p>
                            <p class="card-text ml-auto align-self-center">{{getProductPriceByID(item?.id) | currency}}</p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <div class="cardtext-left">
              <div class="card-body">
                  <div class="d-flex flex-wrap mt-4">
                      <button type="button" (click)="deleteOrder(ordID)" class="btn btn-primary btn-md btn-block"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                      <button type="button" (click)="goBack()" class="btn btn-primary btn-md btn-block"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
                    </div>
              </div>
            </div>
        </div>
    </div>
</div>