<app-menu></app-menu>
<div class="container my-4 text-justify" dir="auto">
    <form #frm="ngForm" (ngSubmit)="addPRODUCT()">
        <div class="form-group">
            <label for="proName">{{'ProductName'|translate}}</label>
            <input type="text" required class="form-control" aria-describedby="helpId" 
            #proName="ngModel" [class.is-invalid]="proName.invalid && proName.touched" [(ngModel)]="newProduct.name"
            id="proName" minlength="2" name="Name" [class.is-valid]="proName.valid" placeholder="{{'Enterproductname'|translate}}" #Name>
          <small [hidden]="proName.valid || proName.untouched" id="helpId" class="text-muted alert alert-danger">{{'ProductName'|translate}} {{'mustBeLetters'|translate}}</small>
        </div>
        <div class="form-group">
            <label for="proArabicName">{{'ArabicProductName'|translate}}</label>
            <input type="text" required class="form-control" aria-describedby="helpId" 
            #proArabicName="ngModel" [class.is-invalid]="proArabicName.invalid && proArabicName.touched" [(ngModel)]="newProduct.arabicName"
            id="proArabicName" minlength="2" name="ArabicName" [class.is-valid]="proArabicName.valid" placeholder="{{'Enterproductname'|translate}}"
                #ArabicName>
          <small [hidden]="proArabicName.valid || proArabicName.untouched" id="helpId" class="text-muted alert alert-danger">{{'ArabicProductName'|translate}} {{'mustBeLetters'|translate}}</small>
        </div>
        <div class="form-group">
            <label for="proDesc">{{'ProductDescription'|translate}}</label>
            <input type="text" required class="form-control" aria-describedby="helpId" 
            #proDesc="ngModel" [class.is-invalid]="proDesc.invalid && proDesc.touched" [(ngModel)]="newProduct.description"
            id="proDesc"minlength="2" name="description" [class.is-valid]="proDesc.valid" placeholder="{{'Enterproductdescription'|translate}}"
                #description>
          <small [hidden]="proDesc.valid || proDesc.untouched" id="helpId" class="text-muted alert alert-danger">{{'ProductDescription'|translate}} {{'mustBeLetters'|translate}}</small>
        </div>
        <div class="form-group">
            <label for="proArabicDesc">{{'ArabicProductDescription'|translate}}</label>
            <input type="text" required class="form-control" aria-describedby="helpId" 
            #proArabicDesc="ngModel" [class.is-invalid]="proArabicDesc.invalid && proArabicDesc.touched" [(ngModel)]="newProduct.arabicDescription"
            id="proArabicDesc" minlength="2" name="ArabicDescription" [class.is-valid]="proArabicDesc.valid" placeholder="{{'Enterproductdescription'|translate}}"
                #ArabicDescription>
          <small [hidden]="proArabicDesc.valid || proArabicDesc.untouched" id="helpId" class="text-muted alert alert-danger">{{'ArabicProductDescription'|translate}} {{'mustBeLetters'|translate}}</small>
        </div>
        <div class="form-group">
            <label for="related">{{'Related'|translate}}</label>
            <input type="text" required class="form-control" aria-describedby="helpId" 
            #related="ngModel" [class.is-invalid]="related.invalid && related.touched" [(ngModel)]="newProduct.relatedProducts[0]"
            id="related" minlength="2" name="Related" [class.is-valid]="related.valid" placeholder="{{'Related'|translate}}"
                #Related>
          <small [hidden]="related.valid || related.untouched" id="helpId" class="text-muted alert alert-danger">{{'Related'|translate}} {{'mustBeLetters'|translate}}</small>
        </div>
        <div class="form-group">
            <label for="proPrice">{{'ProductPrice'|translate}}</label>
            <input type="number" required class="form-control" aria-describedby="helpId" 
            #proPrice="ngModel" [class.is-invalid]="proPrice.invalid && proPrice.touched" [(ngModel)]="newProduct.price"
            id="proPrice" minlength="2" name="Price" [class.is-valid]="proPrice.valid" placeholder="{{'Enterproductprice'|translate}}"
                #Price>
          <small [hidden]="proPrice.valid || proPrice.untouched" id="helpId" class="text-muted alert alert-danger">{{'ProductPrice'|translate}} {{'mustBeLetters'|translate}}</small>
        </div>
        <div class="form-group">
            <label for="proStock">{{'ProductStock'|translate}}</label>
            <input type="number" required class="form-control" aria-describedby="helpId" 
            #proStock="ngModel" [class.is-invalid]="proStock.invalid && proStock.touched" [(ngModel)]="newProduct.stock"
            id="proStock" minlength="2" name="Stock" [class.is-valid]="proStock.valid" placeholder="{{'Enterproductstock'|translate}}"
                #Stock>
          <small [hidden]="proStock.valid || proStock.untouched" id="helpId" class="text-muted alert alert-danger">{{'ProductStock'|translate}} {{'mustBeLetters'|translate}}</small>
        </div>
        <!-- <div class="form-group">
           <label for="proRating">Product Rating</label>
           <input type="number" required class="form-control" aria-describedby="helpId" id="proRating" placeholder="Enter product rating" #Rating>
       </div> -->
        <div class="form-group">
            <label for="image">{{'PathImage'|translate}}</label>
            <input type="text" required class="form-control" aria-describedby="helpId" 
            #image="ngModel" [class.is-invalid]="image.invalid && image.touched" [(ngModel)]="newProduct.image"
            id="image" minlength="2" name="Image" [class.is-valid]="image.valid" placeholder="{{'EnterPathImage'|translate}}" #Image>
          <small [hidden]="image.valid || image.untouched" id="helpId" class="text-muted alert alert-danger">{{'PathImage'|translate}} {{'mustBeLetters'|translate}}</small>
        </div>
        <div class="form-group">
            <label for="image1">{{'SubImage1'|translate}}</label>
            <input type="text" required class="form-control" aria-describedby="helpId" 
            #image1="ngModel" [class.is-invalid]="image1.invalid && image1.touched" [(ngModel)]="newProduct.images[0]"
            id="image1" minlength="2" name="Image1" [class.is-valid]="image1.valid" placeholder="{{'EnterSubImage1'|translate}}" #Image1>
          <small [hidden]="image1.valid || image1.untouched" id="helpId" class="text-muted alert alert-danger">{{'SubImage1'|translate}} {{'mustBeLetters'|translate}}</small>
        </div>
        <div class="form-group">
            <label for="image2">{{'SubImage2'|translate}}</label>
            <input type="text" required class="form-control" aria-describedby="helpId" 
            #image2="ngModel" [class.is-invalid]="image2.invalid && image2.touched" [(ngModel)]="newProduct.images[1]"
            id="image2" minlength="2" name="Image2" [class.is-valid]="image2.valid" placeholder="{{'EnterSubImage2'|translate}}" #Image2>
          <small [hidden]="image2.valid || image2.untouched" id="helpId" class="text-muted alert alert-danger">{{'SubImage2'|translate}} {{'mustBeLetters'|translate}}</small>
        </div>
        <div class="form-group">
            <label for="image3">{{'SubImage3'|translate}}</label>
            <input type="text" required class="form-control" aria-describedby="helpId" 
            #image3="ngModel" [class.is-invalid]="image3.invalid && image3.touched" [(ngModel)]="newProduct.images[2]"
            id="image3" minlength="2" name="Image3" [class.is-valid]="image3.valid" placeholder="{{'EnterSubImage3'|translate}}" #Image3>
          <small [hidden]="image3.valid || image3.untouched" id="helpId" class="text-muted alert alert-danger">{{'SubImage3'|translate}} {{'mustBeLetters'|translate}}</small>
        </div>
        <!-- Available  -->
        <!-- <div class="custom-control custom-switch">
           <input type="checkbox" class="custom-control-input" id="Available" name="Available" #Available>
           <label class="custom-control-label" for="Available">Available</label>
       </div> -->
        <!-- End Avalable -->
        <div class="form-group">
            <label>{{'SelectCategory'|translate}}</label>
            <select class="form-control" [(ngModel)]="newProduct.categoryID" #SelectCat name="catSelect">
                <option *ngFor="let cat of CategoryList" [value]="cat.id">{{cat.name}}</option>
            </select>
            <small id="helpId" class="text-muted">{{'MustSelecteCategory'|translate}}</small>
        </div>

        <div class="form-group">
            <button class="btn btn-dark" [disabled]="frm.invalid" type="submit">{{'AddProduct'|translate}}</button>
        </div>
    </form>

</div>