<div id="mySidenav" class="sidenav text-justify" dir="auto" #mySidenav>
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a class="rounded mt-4">
    <label class="form-control" for="lang" style="font-weight: bold;color: darkblue; display: inline;">{{'Lang'|translate}}: 
      <select style="border: none;" id="lang" #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang"
          [attr.selected]="lang === translate.currentLang ? '' : null">{{lang}}</option>
      </select>
    </label>
  </a>
  <a routerLink="/Admin/Dashboard" routerLinkActive="active" class="rounded">
    <i class="fas fa-tachometer-alt mr-2"></i> {{'Dashboard'|translate}}
  </a>
  <a routerLink="/Admin/Categories" routerLinkActive="active" class="rounded">
    <i class="fa fa-server mr-2"></i> {{'Categories'|translate}}
  </a>
  <a routerLink="/Admin/Products" routerLinkActive="active" class="rounded">
    <i class="fas fa-box-open mr-2"></i> {{'Products'|translate}}
  </a>
  <a routerLink="/Admin/Customers" routerLinkActive="active" class="rounded">
    <i class="fas fa-users mr-2"></i> {{'Customers'|translate}}
  </a>
  <a routerLink="/Admin/Orders" routerLinkActive="active" class="rounded">
    <i class="fas fa-shopping-bag mr-2"></i> {{'Orders'|translate}}
  </a>
  <!-- <a routerLink="/Admin/Admins" routerLinkActive="active" class="rounded">
    <i class="fas fa-user mr-2"></i> Admins
  </a> -->
  <a (click)="logout()" routerLinkActive="active" class="rounded" role="button">
    <i class="fas fa-door-open mr-2"></i> {{'Logout'|translate}}
  </a>
</div>
<nav class="navbar navbar-expand" style="background-color: #101924;">
  <span style="font-size:22px;cursor:pointer;color: #9D72FF;" (click)="openNav()">&#9776;</span>
  <div class="d-flex ml-auto" style="color: #9D72FF;">
    <i class="fa fa-user-circle fa-2x mr-2 pt-2" aria-hidden="true"></i>
    <div>
      <p class="my-0"><small>{{'Administrator'|translate}}</small></p>
      <span><small class="font-weight-bold">{{admin?.displayName}}</small></span>
    </div>
  </div>

</nav>
